<%= form_with(model: kitten, local: true) do |form| %>
  <% if kitten.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kitten.errors.count, "error") %> prohibited this kitten from being saved:</h2>

      <ul>
      <% kitten.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  Name: <%= form.text_field :name %>
  Age: <%= form.number_field :age %>
  Cuteness: <%= form.select :cuteness, (1..10) %>
  Softness: <%= form.select :softness, (1..10) %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
